body {
	background-color: rgb(216,41,47);
}

nav {
	text-align: center;
}


a:link {
	color: blue;
}

a:active {
	color: rgb(255,218,39);
}

a:hover {
	color: darkorange;
}

a:visited {
	color: purple;
}

h1 {
	text-align: center;
	font: "Century";
	color: black;
	font-style: bold;
	background-color: rgb(255,218,39);
}

h2 {
	text-align: center;
	color: black;
	font-style: italic;
}

article {
	border-style: solid;
	border-width: 3px;
	padding: 2px;
	color: rgb(255,218,39);
	font: "Century";
}

p {
	font: "Century";
	font-size: 20px;
	color: black;
}

.looney {
	font: "Century";
	font-size: 15px;
	text-align: center;
	font-style: italic;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;

}

.viddy {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
	padding: 3px;
	color: black;
}

ol {
	color: black;
	font: "Century";
	font-size: 18px;
}

footer {
	font: "Century";
	color: black;
	font-size: 15px;
	font-style: italic;
	padding-top: 30px;
}